// Couleurs principales
$primary-color: #CDA434; // Or légèrement foncé pour boutons/titres
$secondary-color: #FFD700; // Doré pour highlights

// Fonds et arrière-plans
$bg-dark: #121212; // Noir profond pour le fond global
$bg-light: #1E1E1E; // Gris anthracite pour les sections
$bg-section: #252525; // Gris légèrement plus clair pour séparer les sections
$bg-highlight: #2E2E2E; // Fond légèrement contrasté pour les zones importantes

// Texte et ombrages
$text-color: #EAEAEA; // Blanc cassé pour le texte
$shadow-light: 0px 4px 10px rgba(0, 0, 0, 0.2);
$shadow-hover: 0px 6px 15px rgba(0, 0, 0, 0.3);
